
  <p-card [header]="product.name" [style]="{ width: '300px' }">
    <ng-template pTemplate="header">
        <img alt="Card" [src]="product.imageUrl ?? 'http://localhost:3000/images/no-image.jpg'" (click)="onOpenDialog()" />
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1 footer">
            <h1>{{product.price.toString()}} RON</h1>
            <!-- <p-button [label]="product.price.toString() + ' RON'" [disabled]="true" [text]="true" severity="secondary" /> -->
            @if(inEdit) {
                <div class="actions">
                    <button mat-icon-button color="primary" (click)="onOpenDialog()">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button color="primary" (click)="onDelete()">
                        <mat-icon>delete</mat-icon>
                      </button>
                </div>
            } @else {
                <div class="user-actions">
                    <button mat-icon-button color="primary" (click)="addItem()">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                </div>
            }
        </div>
    </ng-template>
</p-card>