<ion-header>
  <ion-toolbar>
    <ion-title>
      Restoorant
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button href="/registration" expand="block" color="primary">Register</ion-button>
        <ion-item-divider></ion-item-divider>
        <br>

        <span class="already">Already a user?</span>
        <br>
        <br>

        <ion-button href="/login" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>