.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.label {
    margin-left: 5px;
}

.picker {
    display: flex;
}

.surface-border {
    border-width: 1px; /* Adjust the border width if needed */
    border-color: #d4d4d8; /* Default surface border color in Tailwind */
  }
  
  .border-round {
    border-radius: 0.375rem; /* Default rounded border radius in Tailwind */
  }
  
  .surface-ground {
    background-color: #ffffff; /* Default surface background color in Tailwind */
  }
  
  .flex-auto {
    flex: 1 1 auto; /* Allow the element to grow and shrink freely */
  }
  
  .flex {
    display: flex; /* Enable flexbox layout */
  }
  
  .justify-content-center {
    justify-content: center; /* Horizontally align items to the center */
  }
  
  .align-items-center {
    align-items: center; /* Vertically align items to the center */
  }
  
  .font-medium {
    font-weight: 500; /* Medium font weight */
  }

.next {
    justify-content: end;
}  

.h-12rem {
    min-height: 20rem;
}

.flex-auto{
    display: flex;
    flex-direction: column;
}

.mb-2 {
    margin-bottom: 1rem;
}

.actions{
    display: flex;
    justify-content: space-between;
}

.success-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  text-align: center;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  text-align: center;
}
